*{
    margin: 0px;
    padding: 0px;
    list-style: none;

}
header{
    height: 180px;
    background-color: black;
}
.logo-opp{
    padding-top: 5px;

}
.logo{
    width: 100px;
    height: 150px;
    position: absolute;
    left: 40px;
    cursor: pointer;
    animation: logo 1s infinite alternate;
   /* animation-name: logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;*/
}
@keyframes logo{
    from{
        width:90px ;
        height:140px ;
    }
    to{
        width:110px ;
        height:160px ;
    }
}

.lista-de-links{
    position: absolute;
    right: 30px;
    top:50px
}
.itens{
    display: inline-block;
}
.lista-links-conte{
    
}