*{
    margin: 0px;
    padding: 0px;
    list-style: none;

}
header{
    height: 180px;
    background-color: black;
}
.logo-opp{
    padding-top: 5px;

}
.logo{
    width: 100px;
    height: 150px;
    position: absolute;
    left: 40px;
    cursor: pointer;
    animation: logo ease 1s infinite alternate;
   /* animation-name: logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;*/
}
@keyframes logo{
    from{
        width:90px ;
        height:140px ;
    }
    to{
        width:110px ;
        height:160px ;
    }
}

.lista-de-links{
    position: absolute;
    right: 40px;
    top:150px;
   /* border: white solid 2px; ajustar*/
}
.itens-links{
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    opacity: 0.7;
    box-sizing: content-box;
    transition: all 1s;
}
.itens-links:hover{
    font-size: 21px;
    opacity: 1;
    letter-spacing: 2px;
    transition: all 2s;
    margin-left: 33px;
    margin-right: 23px;
}
.itens-links::first-letter{
    text-transform: uppercase;
}
.itens-links a{
    color: aliceblue;
    text-decoration: none;
}
.itens-links a:hover{
    text-decoration: underline;
 / 
}
